{% block is_okay %}

{% endblock %}

{# @deprecated tag:v6.6.0 - Block will be removed. Use `component_line_item_type_product_number` instead.  #}
{% block component_line_item_type_product_order_number %}
    {# @deprecated tag:v6.6.0 - Class `line-item-ordernumber` will be removed. Use `line-item-product-number` instead. #}
    <div class="line-item-ordernumber line-item-product-number">
        {{ "checkout.cartItemInfoId"|trans|sw_sanitize }} {{ lineItem.payload.productNumber }}
    </div>
{% endblock %}